<div class="container">
    <button mat-button class="button_go_back" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="grid-container">
        @if(card) {
            <mat-card 
                class="example-card" 
                appearance="outlined"
                style="cursor: pointer;">
                <mat-card-header>
                    @if(card.marketplace === 'Amazon') {
                        <div mat-card-avatar class="header-image-amazon"></div>
                    }
                    @else if(card.marketplace === 'Shopee') {
                        <div mat-card-avatar class="header-image-shopee"></div>
                    }
                    @else if(card.marketplace === 'Magazine Luiza') {
                        <div mat-card-avatar class="header-image-magazine"></div>
                    }
                    @else if(card.marketplace === 'Mercado Livre') {
                        <div mat-card-avatar class="header-image-mercado-livre"></div>
                    }
                    @else if(card.marketplace === 'Kabum') {
                        <div mat-card-avatar class="header-image-kabum"></div>
                    }
                    @else if(card.marketplace === 'Decathlon') {
                        <div mat-card-avatar class="header-image-decathlon"></div>
                    }
                    @else if(card.marketplace === 'Aliexpress') {
                        <div mat-card-avatar class="header-image-aliexpress"></div>
                    }
                    <div class="header-text">
                        <div>vendido em</div>
                        <div><strong>{{card.marketplace}}</strong></div>
                    </div>
                    <div class="time-ago">{{ getTimeAgo(card.postedat ? card.postedat.toString() : '') }}</div>
                    <!-- <mat-card-title>{{ card.title }}</mat-card-title> -->
                </mat-card-header> 
                <div class="card-container">
                    <img class="mat-card-image" [src]="card.image" alt="{{ card.title }}">
                </div>
                <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
                <mat-card-content >
                    <div class="preco-container">
                        <p></p>
                        @if(card.oldprice) {
                            <p class="label">De:</p>
                            <p class="preco-antigo"><s>{{ card.oldprice }}</s></p>
                        }
                        <p class="label">Por:</p>
                        <p class="preco-novo">{{ card.newprice }}</p>
                        @if(card.paymentmethod) {
                            <p class="pagamento">{{ card.paymentmethod }}</p>
                        }
                        @if(card.alert) {
                            <p class="alerta">
                                <mat-icon>warning</mat-icon>
                                {{ card.alert }}
                            </p>
                        }
                    </div>
                </mat-card-content>
                @if(card.coupon) {
                    <mat-card-actions class="cupom-container">
                        <div class="cupom-content">
                            <div class="cupom-text">
                                <span class="cupom-label">cupom de desconto:</span>
                                <strong class="cupom-code">{{card.coupon}}</strong>
                            </div>
                            <div mat-button class="copy-button" (click)="copiarCupom(card.coupon || '')">
                                <div class="copy-content">
                                    <mat-icon>{{ isCopied ? 'check' : 'content_copy' }}</mat-icon>
                                    <span> {{ isCopied ? 'Copiado' : 'Copiar' }} </span>
                                </div>
                            </div>
                        </div>
                    </mat-card-actions>
                }
                <mat-card-actions>
                    @if(card.coupon) {
                        <button mat-button (click)="openDiscountDialog(card)">
                            <span>PEGAR PROMOÇÃO</span>
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                    }
                    @else {
                        <button mat-button (click)="openLink(card.link)">
                            <span>PEGAR PROMOÇÃO</span>
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                    }
                </mat-card-actions>
                <div class="rodape-text">Esta promoção pode acabar a qualquer momento!</div>
            </mat-card>
        }
    </div>
</div>